config HI3xxx_CLK_CORE
	bool "Core clock driver of Hi3xxx Soc"
	default n if COMMON_CLK

config HI3620_CLK_MIPI_DSI
	bool "MIPI DSI clock driver of Hi3620 SoC"
	default y if COMMON_CLK && FB_HI3620

config HISI_CLK
	bool "clock driver of Hi6250 and hi3650 Soc"
	default n

config HISI_CLK_ALWAYS_ON
	bool "all clocks of Hisi Soc are always on"
	default n

config HISI_CLK_HI3660
	bool "3660 clock spec"
	default n

config HISI_HI6250_CLK
	bool "6250 clock spec"
	default n

config HISI_CLK_MAILBOX_SUPPORT
	depends on HISI_CLK
	depends on HISI_MAILBOX
	bool "clk driver support mailbox communication"
	default n

config HISI_CLK_DEBUG 
	depends on COMMON_CLK_DEBUG
	bool "HiSilicon clock driver debug"
	default n
