#
# huawei device state monitor configuration
#

config HUAWEI_DSM
	bool "huawei dsm"
	default n
	help
	  If you say yes here you get support for huawei touchscreen.
config HUAWEI_SDCARD_VOLD
	bool "huawei sdcard vold"
	default y
	help
	  If you say yes here you get support for huawei vold radar.
