#
# detect devices
#

config HUAWEI_HW_DEV_DCT
    default y
    bool "HUAWEI DEVICE DETECT"
    help
      Say yes if you want i2c device detect driver.
      This is for i2c connected version. If unsure, say N here.
