menuconfig SWITCH
	tristate "Switch class support"
	help
	  Say Y here to enable switch class support. This allows
	  monitoring switches by userspace via sysfs and uevent.

if SWITCH

config SWITCH_GPIO
	tristate "GPIO Swith support"
	depends on GPIOLIB
	help
	  Say Y here to enable GPIO based switch support.

# I2C SWITCH_CHIP driver configuration
config SWITCH_FSA9685
	tristate "SWITCH_FSA9685"
	depends on GPIOLIB && I2C
	help
	  If you say yes here you get support for SWITCH_FSA9685.
endif # SWITCH

menuconfig SWITCH_USB
	tristate "Switch usb support"
	help
	  Say Y here to enable switch usb class support. This allows
	  monitoring usb switches by userspace via sysfs.

config SWITCH_USB_CLS
	tristate "USB Switch class support"
	depends on GPIOLIB
	help
	  Say Y here to enable USB based switch class support.

config FSA9685_DEBUG_FS
	tristate "FSA9685_DEBUG_FS"
	default y
	help
	  If you say yes here you get support for SWITCH_FSA9685.

