menuconfig INPUTHUB
	tristate "InputHub feature support"
	depends on SENSORHUB_FEATURE_SUPPORT
	help
	  Say Y here to enable input hub feature support. This allows
	  mcu to manage all sensors.
config IOM3_RECOVERY
	bool "iom3 recovery feature support"
	default n

	help
	  Say 'Y' here if you want to support the cmdline parse
config CYPRESS_PSOC4000
	bool "cypress capsense support"
	default n

	help
	  Say 'Y' here if you want to configure cypress capsense
