/**
 * Huawei Ltd.
 * PhosphorV660
 */

/dts-v1/;

/include/ "fastboot.dtsi"
/include/ "EVA_TUGL_V0_config.dtsi"
/include/ "EVA_TUGL_V1_pin.dtsi"
/include/ "EVA_TUGL_V1_modem_pin.dtsi"
/include/ "EVA_TUGL_V1_hi6402_pin.dtsi"

/{
	hisi,modem_id = <0x3C010400>;
	hisi,boardid = <3 5 6 1>;
	hisi,boardname = "EVA_TUGL_V1";
	amba{
		i2c4: i2c@FDF0D000{
			pericom30216_typec: typec@1d {
				pericom30216_gpio_enb = <1>;
				status = "ok";
			};
			tusb320_typec: typec@47 {
				tusb320_gpio_enb = <1>;
				tusb320_mdelay = <100>;
				status = "ok";
			};
			fusb301_typec: typec@21 {
				fusb301_gpio_enb = <1>;
				status = "ok";
			};
			ptn5150h_typec: typec@1E {
				ptn5150h_gpio_enb = <1>;
				status = "ok";
			};
		};
	};
};
