comment "Huawei Sensor"

source "drivers/media/huawei/camera/sensor/vcm/Kconfig"
source "drivers/media/huawei/camera/sensor/flash/Kconfig"
source "drivers/media/huawei/camera/sensor/ois/Kconfig"

config HUAWEI_CAMERA_USE_IMX214
	bool "imx214"
    default y
	depends on HUAWEI_CAMERA

config HUAWEI_CAMERA_USE_IMX219
	bool "imx219"
    default y
	depends on HUAWEI_CAMERA

config HUAWEI_CAMERA_USE_OV13850
	bool "ov13850"
    default y
	depends on HUAWEI_CAMERA

config HUAWEI_CAMERA_USE_OV8856
	bool "ov8856"
    default y
	depends on HUAWEI_CAMERA

config HUAWEI_CAMERA_USE_HI843
	bool "hi843"
    default y
	depends on HUAWEI_CAMERA

config HUAWEI_CAMERA_USE_T4KA3
	bool "t4ka3"
    default y
	depends on HUAWEI_CAMERA

config HUAWEI_CAMERA_USE_AR1335
	bool "ar1335"
    default y
	depends on HUAWEI_CAMERA
