# balong modem
CONFIG_HISI_BALONG_MODEM=y
CONFIG_HISI_BALONG_MODEM_HI3650=y

#IPC
CONFIG_IPC_DRIVER=y

#ICC
CONFIG_ICC_BALONG=y
CONFIG_ICC_BALONG_TEST=n

#pmom
CONFIG_PM_OM_BALONG=y
CONFIG_PM_OM_BALONG_TEST=y

CONFIG_BALONG_EASY_SHELL=y

#IPF
CONFIG_IPF_SUPPORT=y
CONFIG_IPF_TEST=y

#DSP
CONFIG_DSP_BALONG=y

#HKADC
CONFIG_HKADC_BALONG=y

#nvim
CONFIG_NVIM=y
CONFIG_NVIM_TEST=y

#Loadm
CONFIG_IMAGE_LOAD=y

#OnOff
CONFIG_BALONG_ONOFF=n
CONFIG_BALONG_MODEM_ONOFF=y

# sync
CONFIG_SYNC_BALONG=y

#hwadp
CONFIG_HW_IP_BASE_ADDR=y

#rfile
CONFIG_RFILE_SUPPORT=y

#MEM
CONFIG_MEM_BALONG=y

#timer
CONFIG_HARD_TIMER=y
CONFIG_SOFT_TIMER=y
CONFIG_BBP_TIMER=y

#temperature
CONFIG_TEMPERATURE_SYS_BALONG=n

#UDI
CONFIG_UDI_SUPPORT=y

#RESET
CONFIG_BALONG_MODEM_RESET=y
CONFIG_BALONG_MODEM_RESET_TEST=n
CONFIG_BALONG_MODEM_POWER_MANAGE=n
CONFIG_HIFI_RESET=n

#S_MEMORY
CONFIG_S_MEMORY=y
CONFIG_S_MEMORY_TEST=n

#SYSCTRL
CONFIG_SYSCTRL=y
CONFIG_SYSCTRL_TEST=n

# efuse
CONFIG_EFUSE_BALONG=n
CONFIG_EFUSE_BALONG_AGENT=y

#---------------------------
#dual modem
CONFIG_DUAL_MODEM=n
CONFIG_BALONG_OAM_PS=y
CONFIG_FRAME_WARN=2048


#OM
CONFIG_HISI_DUMP=n

#PMIC OCP
CONFIG_PMIC_OCP=y
