#
# Near Field Communication (NFC) devices
#
config PN547_NFC_64
	tristate "PN547 NFC driver"
	depends on I2C
	select CRC_CCITT
	default n
	---help---
	  Say yes if you want PN547 Near Field Communication driver.
	  This is for i2c connected version. If unsure, say N here.

	  To compile this driver as a module, choose m here. The module will
	  be called pn547.

config FIFA_NFC_CLK
	tristate "PN547 NFC driver clock"
	default n
	---help---
	  JUST on k3v3+ product board

config V8R2_NFC
	tristate "PN547 NFC VEN USE GPIO_CTL"
	default n
	---help---
	  JUST on V8R2 product board