config HI6402_CODEC
	tristate "Support HiSilicon Hi6402 Codec IC"
	default n
        help
          Enables the HI6402 core driver.

config HI6403_CODEC
	tristate "Support HiSilicon Hi6403 Codec IC"
	default n
	help
          Enables the HI6403 core driver.

config HI6402_MBHC_ANC
	tristate "Support ANC for Hi6402 Codec"
        default n
        help
          Enables support of ANC for Hi6402.

config HI64XX_TEST
	tristate "Enable UT test for Hi64xx modules"
	default n
	help
	  Unit test for Hi64xx modules.
