menuconfig CONTEXTHUB
	tristate "contexthub feature support"
	default n
	help
	  Say Y here to enable context hub feature support. This allows
	  mcu to manage all sensors.
config  IOM3_RECOVERY
	bool "iom7 recovery feature support"
	default n

	help
	  Say 'Y' here if you want to support the cmdline parse

